.container{
  display: flex;
  flex-direction: column;
  padding: 80px;
  .time-contact{
    display: flex;
    justify-content: center;
    column-gap: 20%;
    .timeContainer{
      font-size: 18px;
      .lable{
        color: var(--main-color);
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 40px 0;
      }
      .time{
        margin: 4px 0 0 0;
      }
    }
    .contactContainer{
      font-size: 18px;
      .lable{
        color: var(--main-color);
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 40px 0;
      }
      .option{
        margin: 4px 0 0 0;
      }
    }
  }
  .label{
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
  }
  .mapContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    .map{
      margin: 20px 0 0 0;
      width: 80%;
      height: 400px;
    }
  }
}
@media (max-width: 930px) {
  .container{
    padding: 40px;
    .time-contact{
      flex-direction: column;
      display: flex;
      align-items: center;
      .timeContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .contactContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0 0 0;
        font-size: 18px;
        .lable{
          color: var(--main-color);
          font-size: 40px;
          font-weight: 700;
          margin: 0 0 40px 0;
        }
        .option{
          margin: 4px 0 0 0;
        }
      }
    }
    .mapContainer{
      width: 100%;
      .map{
        width: 100%;
      }
    }
  }
}
@media (max-width: 500px) {
  .container {
    padding:30px 15px 0 15px;
  }
}
