<div class="container">
  <div class="time-contact">
    <div class="timeContainer">
      <div class="lable">Графік роботи</div>
      <div class="time">Пн - Пт    09:00 - 22:00</div>
      <div class="time">Cб - Нд    10:00 - 21:00</div>
    </div>
    <div class="contactContainer">
      <div class="lable">Контакти</div>
      <div class="option">+380 (066) 663-8032</div>
      <div class="option">olegantemenuk99@gmail.com</div>
    </div>
  </div>
  <div class="label">Наші магазини</div>
  <div class="mapContainer">
    <div class="map" id="map"></div>
  </div>
</div>
