.container{
  cursor: default;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  column-gap: 20px;
  .routing{
    margin: 10px 0 0 0;
    width: 90%;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    font-size: 14px;
    color: #7f7e7e;
    column-gap: 10px;
    font-weight: 600;
    .router-item{
      cursor: pointer;
      &:hover{
        opacity: 70%;
      }
    }
  }
  .left{
    width: 70%;
    .title-container{
      margin: 20px 0 0 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .title{
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.5px;
      }
      .clearCart{
        cursor: pointer;
        font-weight: 700;
        font-size: 12px;
        color: #d60b28;
      }
    }
    .cartItems{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px 0 0 0;
      row-gap: 10px;
      .cartItem{
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(33, 32, 31, 0.12);
        height: 130px;
        display: flex;
        justify-content: space-between;
        .productInfo{
          display: flex;
          width: 65%;
          .imageContainer{
            margin: 0 0 0 10px;
            align-self: center;
            position: relative;
            width: 40%;
            height: 100px;
            .image{
              object-fit: scale-down;
              width: 90%;
              height: 90%;
            }
          }
          .name-weight{
            margin: 17px 0 0 5px;
            text-overflow: clip;
            width: 60%;
            .name-dell{
              .name{
                font-weight: 600;
                letter-spacing: 0.5px;
              }
              .dell{
                display: none;
              }
            }
            .weight{
              color: #929292;
              font-size: 14px;
              margin: 20px 0 0 0 ;
            }
          }
        }
        .count-price{
          display: flex;
          column-gap: 30px;
          .count-container{
            font-weight: 500;
            padding: 0 10px;
            align-self: center;
            display: flex;
            border: #c4c4c4 1px solid;
            border-radius: 10px;
            flex-direction: row;
            height: 40px;
            width: 120px;
            column-gap: 10px;
            align-items: center;
            justify-content: center;
            -webkit-user-select:none;
            -moz-user-select:none;
            user-select:none;
            .remove{
              cursor: pointer;
              font-weight: 600;
              &:hover{
                color: #d60b28;
              }
            }
            .add{
              cursor: pointer;
              font-weight: 600;
              &:hover{
                color: #5e8d0c;
              }
            }
          }
          .price-dell{
            cursor: default;
            display: flex;
            margin: 0 10px 0 0;
            column-gap: 20px;
            .price{
              font-weight: 650;
              letter-spacing: 0.3px;
              align-self: center;
            }
          }
          .Phone{
            display: none;
          }
          .PC{
            display: flex;
          }
        }
      }
    }
  }
  .right{
    width: 30%;
    .checkout{
      margin: 60px 0 0 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      box-shadow: 0 0 10px rgba(33, 32, 31, 0.12);
      height: 180px;
      border-radius: 10px;
      .totalPrice{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
        font-weight: 700;
      }
      .go{
        cursor: pointer;
        align-self: center;
        width: 80%;
        height: 50px;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        margin: 30px 0 0 0 ;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--main-color);

        &:hover{
          background: #b06c1b;

        }
      }
    }
  }
}
.empty-cart{
  margin: 40px 0 0 0;
  .context{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    .label{
      text-align: center;
      display: flex;
      width: 250px;
      font-weight: 600;
      color: #7a7979;
    }
    .button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 45px;
      background: var(--main-color);
      border-radius: 10px;
      color: white;
      font-weight: 600;
      cursor: pointer;
      &:hover{
        opacity: 70%;
      }
    }
  }
}

@media (max-width: 1100px) {
  .container{
    width: 100%;
    flex-direction: column;
    .left{
      width: 100%;
    }
    .title-container{
      width: 80%;
    }
    .cartItems{
      width: 100%;
    }
    .right{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .checkout{
        width: 60%;
      }
    }
  }
}
@media (max-width: 960px) {
  .container{
    .left{
      .cartItems{
        .cartItem{
          .productInfo{
            width: 50%;
            .imageContainer{
              width: 40%;
            }
            .name-weight{
              width: 60%;
            }
          }
          .count-price{
            margin: 0 0 10px 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .container{
    padding: 0;
    .left{
      padding: 0 10px;
      .cartItems{
        .cartItem{
          flex-direction: column;
          width: 100%;
          height: 155px;
          .productInfo{
            width: 100%;
            .imageContainer{
              width: 40%;
              .image{
              }
            }
            .name-weight{
              width: 60%;
              .name-dell{
                width: 100%;
                display: flex;
                column-gap: 5px;
                align-items: center;
                justify-content: space-between;
                .name{
                  width: 90%;
                  font-weight: 600;
                  letter-spacing: 0.5px;
                }
                .dell{
                  display: flex;
                  align-self: flex-start;
                  justify-self: flex-start;
                  margin: 0 10px 0 0;
                }
              }
            }
          }
          .count-price {
            .Phone{
              margin: 0 20px 0 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              .dell {
                display: none;
              }
            }
            .PC {
              display: none;
            }
          }
        }
      }
    }
    .right{
      .checkout{
        width: 100%;
        position: fixed;
        bottom: 0;
        background: white;
        height: 130px;
        .go{
          width: 70%;
          height: 45px;
          background: var(--main-color);
          border-radius: 10px;
          color: white;
          font-size: 16px;
          font-weight: 600;
          margin: 20px 0 0 0 ;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.dell{
  justify-self: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: #5b5556;
  justify-content: center;
  height: 20px;
  width: 20px;
  border: rgba(203, 201, 201, 0.8) 1px solid;
  border-radius: 4px;
  margin: 10px 0 0 0;
}

.map{
  width: 95%;
  height: 500px;
  margin: 50px 0 0 0;
}
