<div class="container">
  <div class="line"></div>
  <div class="info">
    <div class="text">Coded by Oleh Antemeniuk</div>
    <div class="social">
      <a href="https://t.me/oleh213" target="_blank" >
        <img src="https://img.icons8.com/color/480/null/telegram-app--v1.png" alt="" class="image">
      </a>
      <a href="https://github.com/Oleh213" target="_blank" >
        <img src="https://img.icons8.com/ios-filled/500/null/github.png" alt="" class="image">
      </a>
    </div>
  </div>
</div>
<app-toast></app-toast>
