<div class="container">
  <div class="routing">
    <a class="main router-item" (click)="location.href = ''">Головна</a>
    <div class="cut ">></div>
    <a class="cart router-item" (click)="location.href = 'menu?category='+ product.categoryName">{{product.categoryName}}</a>
    <div class="cut ">></div>
    <a class="checkout router-item">{{product.productName}}</a>
  </div>
  <div class="product" *ngIf="product.productName.length > 0">
    <div class="image-details">
      <div class="image-container" >
        <img class="image" src="{{product.image}}" alt=""/>
      </div>
      <div class="details">
        <div class="name-container">{{product.productName}}</div>
        <div class="weight-container">
          <div class="weight">{{product.weight}} г</div>
          <div class="defis"> / </div>
          <div class="calories">500 ккал</div>
        </div>
        <div class="price">
          <div class="new-price" [ngClass]="{'has-discount': product.discount > 0}">{{product.price}} ₴</div>
          <div class="old-price" *ngIf="product.discount>0">{{product.price + product.discount}}₴</div>
        </div>
        <div class="description">{{product.description}}</div>
        <div class="add-to-cart" *ngIf="!checkProductInCart(product.productId)" (click)="addToCart()">Додати в кошик</div>
        <div class="buy-box" *ngIf="checkProductInCart(product.productId)">
          <i class="fa fa-minus item minus" aria-hidden="true" (click)="remove()"></i>
          <div class="count">{{getCount()}} шт.</div>
          <i class="fa fa-plus item plus" aria-hidden="true" (click)="add()"></i>
        </div>
      </div>
    </div>
    <div class="title" *ngIf="!isShowItems()">Складові сету</div>
    <div class="product-data" *ngIf="!isShowItems()">
      <div class="products-items">
        <div class="product-item" *ngFor="let item of product.items">
          <div class="image-container">
            <img class="image" (click)="location.href = '/product-details/'+ item.productId" src="{{item.image}}">
          </div>
          <div class="name">{{item.name}}</div>
          <div class="weight">{{item.weight}} г</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cart-container" routerLink="/cart" *ngIf="cart.count>0">
  <span class="count" *ngIf="cart.count>0">{{cart.count}} </span>
  <div class="cart">
    <img class="car-image" src="https://vinnitsya.sushi-master.ua/img/header/cart.svg" alt="cart" >
  </div>
  <span class="price" *ngIf="cart.count>0">{{cart.totalPrice}} ₴</span>
</div>
<app-spinner></app-spinner>
