<div class="container">
  <div class="burger-logo">
    <div class="burger" (click)="open()">
      <img src="https://img.icons8.com/ios-glyphs/480/null/menu--v1.png" alt="" class="menu">
    </div>
    <div class="logo" >
      <span class="text"  routerLink="">UMAMI</span>
    </div>
    <div class="orders-mobile">
      <img *ngIf="checkOrders()" (click)="modelMobile = true; checkOrders()" class="order-button" width="100" height="100" src="https://img.icons8.com/cotton/1080/000000/purchase-order.png" alt="purchase-order"/>
      <app-user-orders class="order"
                       *ngIf='modelMobile'
                       (close)="modelMobile = false"
      >
      </app-user-orders>
    </div>
  </div>

  <div class="context">
    <div class="orders">
      <div class="order-lable" *ngIf="checkOrders()" (click)="model = true; checkOrders()" >Мої замовленя</div>
      <app-user-orders class="order"
        *ngIf='model'
        (close)="model = false"
      >
      </app-user-orders>
    </div>
    <a class="menu" routerLink="" [ngClass]="{'activated': route.url === ''}">Головна</a>
    <a class="menu" routerLink="/menu"  [ngClass]="{'activated': route.url === '/menu'}">Меню</a>
    <a class="menu" routerLink="/contact"  [ngClass]="{'activated': route.url === '/contact'}">Контакти</a>
    <a class="cart" *ngIf="user === UserRole.Manager || user === UserRole.Admin " routerLink="/manager-menu/new-orders">
      <img src="https://img.icons8.com/ios/500/null/admin-settings-male.png" class="manager-menu" alt="">
    </a>
  </div>

</div>
<app-humburger>
</app-humburger>
