
.content{
  display: flex;
  justify-content: center;
  width: 100%;
  .container {
    margin: 50px 0 0 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 380px;
    min-height: 480px;
    .form-container {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      transition: all 0.6s ease-in-out;
      .form {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
        input {
          border-radius: 5px;
          background-color: #eee;
          border: none;
          padding: 12px 15px;
          margin: 8px 0;
          width: 100%;
        }
        .logo {
          font-size: 60px;
          font-weight: 800;
          margin: 0 0 30px 0;
          color: rgb(155, 100, 14);
        }
        .submit {
          margin: 40px 0 0 0;
          border-radius: 20px;
          border: none;
          background: rgba(199, 145, 73, 0.9);
          color: #FFFFFF;
          font-size: 14px;
          font-weight: 800;
          padding: 12px 45px;
          letter-spacing: 1px;
          text-transform: uppercase;
          transition: transform 80ms ease-in;
          &:active {
            transform: scale(0.95);
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {

  .content{
    .container {
      width: 90%;
      .form-container {
        .form{
          padding: 0 30px;
        }
      }
    }
  }
}
