.backdrop{
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  //background: rgba(0, 0, 0, 0.34);
  overflow: scroll;
  z-index: 1;
}
.container {
  overflow: scroll;
  position: absolute;
  justify-self: center;
  z-index: 20;
  width: 100%;
  top: 52px;
  max-height: 680px;
  background: #fcfcfc;
  color: #435b52;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 13px hsl(0deg 0% 0% / 15%);
  .products{
    padding: 10px;
    .product{
      border-bottom: #7a7979 1px solid;
      cursor: pointer;
      row-gap: 20px;
      column-gap: 10px;
      &:hover{
        opacity: 70%;
      }
      .name{
        width: 350px;
        height: 25px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .sail{
        color: #910d0d;
      }
    }
  }
}
