<!--<div class='backdrop' (click)='close.emit()'></div>-->
<!--<div class="container">-->
<!--  <div class="productInfo" >-->
<!--    <div class="id-container item" *ngIf="promoCodeModalOptions === PromoCodeModalOption.EditModal">Id: {{promoCode.promocodetId}}</div>-->
<!--    <div class="discount-container item">-->
<!--      <label class="input" for="code">-->
<!--        <input class="input__field" [(ngModel)]="promoCode.code" [ngClass]="{safariField: detectBrowserName() === 'safari'}"  type="text" placeholder=" " id="code"/>-->
<!--        <span class="input__label"  [ngClass]="{safariLabel: detectBrowserName() === 'safari'}">Код</span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="discount-container item">-->
<!--      <label class="input" for="discount">-->
<!--        <input class="input__field" [(ngModel)]="promoCode.diasount" [ngClass]="{safariField: detectBrowserName() === 'safari'}"  type="text" placeholder=" " id="discount"/>-->
<!--        <span class="input__label"  [ngClass]="{safariLabel: detectBrowserName() === 'safari'}">Знижка</span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="discount-container item">-->
<!--      <label class="input" for="count">-->
<!--        <input class="input__field" [(ngModel)]="promoCode.count" [ngClass]="{safariField: detectBrowserName() === 'safari'}"  type="text" placeholder=" " id="count"/>-->
<!--        <span class="input__label"  [ngClass]="{safariLabel: detectBrowserName() === 'safari'}">Кількість</span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="submit-container">-->
<!--      <div class="submit" (click)="submit()">Застосувати </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
