<div class="container">
  <ul class="navbar">
    <li routerLink="/manager-menu/profile" class="navbarItem personalInfo" >
      <a class="navbarLink accountLink" [ngClass]="{ isActive: router.url === '/manager-menu/profile' }">Профіль</a>
    </li>
    <div class="underline"></div>
    <li routerLink="/manager-menu/new-orders" class="navbarItem newOrders" [ngClass]="{ isActive: router.url === '/manager-menu/new-orders' }" >
      <a class="navbarLink newOrdersLink" [ngClass]="{ isActive: router.url === '/manager-menu/new-orders' }">Нові замовлення</a>
    </li>
    <div class="underline"></div>
    <li routerLink="/admin-panel/" class="navbarItem newOrders" [ngClass]="{ isActive: router.url === '/manager-menu/admin-menu' }" *ngIf="user === UserRole.Admin">
      <a class="navbarLink newOrdersLink" [ngClass]="{ isActive: router.url === '/manager-menu/admin-menu' }">Меню адміністратора</a>
    </li>
    <div class="underline"></div>
    <li class="navbarItem logout" (click)="logout()">
      <div class="navbarLink logoutClick" >Вийти</div>
    </li>
  </ul>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

