<div class="container">
  <div class="error" *ngFor="let error of errorStatus">
    <span class="text-center">{{ error.statusMsg }}</span>
    <div class="four_zero_four_bg" [style.background-image]="'url(' + error.statusImg + ')'">
      <h1 class="text-center">{{ error.statusCode }}</h1>
    </div>
    <div class="contant_box">
      <h3>Помилка</h3>
      <a (click)="location.href = ''" class="link">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> На головну
      </a>
    </div>
  </div>
</div>
