<div class="card" *ngIf="order.orderLists.length > 0" [ngClass]="{'order-canceled-border': order.orderStatus === OrderStatus.Canceled || order.orderStatus === OrderStatus.Declined}">
  <div class="title">Дякую за замовлення!</div>
  <div class="date-number">
    <div class="orderNumber date-numberItem">
      <span id="heading">Замовлення</span><br>
      <span >#{{order.orderNumber}}</span>
    </div>
    <div class="orderDate date-numberItem">
      <span >Час замовлення</span><br>
      <span >{{order.orderTime | orderDataFormat}}</span>
    </div>
  </div>
  <div class="orderItems">
    <div class="item" *ngFor="let item of order.orderLists">
      <div class="name-count">
        <div class="name">{{item.name}}</div>
        <div class="count">x{{item.count}}</div>
      </div>
      <div class="price">{{item.price}} ₴</div>
    </div>
  </div>
  <div class="priceInfo">
    <div class="subTotal similar " *ngIf="order.discount>0">
      <span class="text" >Сума замовлення</span>
      <div class="price">{{order.totalPrice + order.discount}} ₴</div>
    </div>
    <div class="discount similar" *ngIf="order.discount>0">
      <span class="text">Знижка</span>
      <div class="price">{{order.discount}} ₴</div>
    </div>
    <div class="totalPrice similar" >
      <span class="text">Загальна сума </span>
      <div class="price">{{order.totalPrice}} ₴</div>
    </div>
  </div>
  <div class="underLine"></div>
  <div class="order-canceled-container" *ngIf="order.orderStatus === OrderStatus.Canceled || order.orderStatus === OrderStatus.Declined">
    <div class="order-canceled" >Замовлення скасовано!</div>
  </div>
  <div class="tracking" *ngIf="order.orderStatus !== OrderStatus.Canceled && order.orderStatus !== OrderStatus.Declined">
    <div class="titleOrderStatus">Статус замовлення</div>
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <ul id="progressbar" class="text-center">
          <li class="step0 active" ></li>
          <li class=" step0" [ngClass]="{'active': tracker.Cooking}"></li>
          <li class=" step0" [ngClass]="{'active': tracker.AwatingPicup}"></li>
          <li class="step0" [ngClass]="{'active': tracker.Finished}">></li>
        </ul>
      </div>
    </div>
    <div class="progress-bar">
      <div class="step active">
        <div class="icon">
          <i class='fa fa-refresh'></i>
        </div>
        <div class="text">
          <p>{{orderStatus(order)}}</p>
        </div>
      </div>
      <div class="step " [ngClass]="{'active': tracker.Cooking}">
        <div class="icon">
          <i class='fas fa-utensils'></i>
        </div>
        <div class="text">
          <p>Готування</p>
        </div>
      </div>
      <div class="step " [ngClass]="{'active': tracker.AwatingPicup}">
        <div class="icon">
          <i class="fas fa-truck"></i>
        </div>
        <div class="text">
          <p>{{deliveryType}}</p>
        </div>
      </div>
      <div class="step" [ngClass]="{'active': tracker.Finished}">
        <div class="icon">
          <i class="fas fa-check"></i>
        </div>
        <div class="text">
          <p>Завершенно</p>
        </div>
      </div>
    </div>
    <div class="pay-button-container" *ngIf="order.orderStatus === OrderStatus.AwaitingPayment">
      <div class="pay-button" (click)="goToPayment()">Оплатити</div>
    </div>
  </div>
  <div class="underLine margin10"></div>
  <div class="contact-lable">Контактна інформація</div>
  <div class="contact-info">
    <div class="name-phone">
      <div class="name module">
        <div class="lable">Ім'я:</div>
        <div class="value">{{order.name}}</div>
      </div>
      <div class="phone module">
        <div class="lable">Телефон:</div>
        <div class="value">{{order.phoneNumber}}</div>
      </div>
    </div>
    <div class="delivery-info">
      <div class="delivery-type module">
        <div class="lable">Спосіб доставки:</div>
        <div class="value">{{DeliveryTypeValue[order.deliveryOptions.deliveryType].value}}</div>
      </div>
      <div class="delivery-time module">
        <div class="lable">Час:</div>
        <div class="value">{{checkDeliveryTime(order)}}</div>
      </div>
      <div class="delivery-address module" *ngIf="order.deliveryOptions.deliveryType === DeliveryType.OnAddress">
        <div class="lable">Адресса:</div>
        <div class="value">{{order.deliveryOptions.address}}</div>
      </div>
    </div>
  </div>
</div>

<app-spinner></app-spinner>
