
:host-context {
  body {
    overflow: hidden !important;
  }
}
.backdrop{
  position: fixed;
  display: none;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.34);
  z-index: 2;
  overflow: hidden;

}
.imgContainer{
  display: none;
  margin: 2% 0 0 91% ;
  .img{
    height: 30px;
    width: 30px;
    position: relative;
  }
}
.content{
  display: none;
  .container {
    transform: translateX(-150%);
    animation: ani 0.7s forwards;
    z-index: 3;
    position: fixed;
    justify-self: center;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 3px 3px 15px rgb(143, 143, 143);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    .selection{
      display: flex;
      flex-direction: column;
      font-size: 20px;
      row-gap: 10px;
      align-items: flex-start;
      font-weight: 600;
      color: #727272;
      .item{
        cursor: pointer;
      }
      .underline{
        width: 100%;
        justify-self: center;
        align-self: center;
        border: #efefef 1px solid;
      }
      .menu{
        margin: 40px 0 0 0;
        color: #1d2228;
      }

      .exit{
        color: #8f1c2f;
        font-weight: 600;
      }

    }
  }
  .container2{
    z-index: 3;
    position: fixed;
    justify-self: center;
    top: 0;
    right: 0;
    width: calc(100% - 280px);
    border-radius: 10px;
    height: 100%;
    display: flex;
  }
}

@keyframes ani {
  0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}
@keyframes aniClose {
  0% {transform: translateY(0);}
  100% {transform: translateX(-150%);}
}

