<div class="search-container">
  <input type="text" class="search" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search products">
  <div class="addProduct" (click)="addProduct()">Додати товар</div>
</div>
<div class="container">
  <div class="products">
    <div class="header">
      <div class="productName">Ім'я</div>
      <div class="price label1">Ціна</div>
      <div class="discount label1">Знижка</div>
      <div class="option label1">Опція</div>
      <div class="category label1">Категорія</div>
      <div class="available label1">Доступно</div>
      <div class="weight label1">Вага</div>
    </div>
    <div class="product" *ngFor="let product of products; let i = index" [ngClass]="{'grey-bg': i % 2 !== 0}">
      <div class="productName">{{product.productName}}</div>
      <div class="price item1">{{product.price}}</div>
      <div class="discount item1">{{product.discount}}</div>
      <div class="option item1">{{product?.productOption?.name ?? ''}}</div>
      <div class="category item1">{{product.categoryName}}</div>
      <div class="available item1">{{product.available}}</div>
      <div class="weight item1">{{product.weight}}</div>
      <img (click)="editProduct(product)" class="image" src="https://img.icons8.com/external-febrian-hidayat-gradient-febrian-hidayat/512/external-edit-user-interface-febrian-hidayat-gradient-febrian-hidayat.png" alt="external-edit-user-interface-febrian-hidayat-gradient-febrian-hidayat"/>
      <img (click)="addDiscount(product)" class="image" ngSrc="https://img.icons8.com/fluency/480/discount.png" alt="external-edit-user-interface-febrian-hidayat-gradient-febrian-hidayat" height="30" width="30"/>
    </div>
  </div>
</div>
<app-product-edit-modal
  *ngIf="modal === true"
  (close)="closeModal()"
  [productId]="product.productId"
  (updateProduct)="getProducts()"
>
</app-product-edit-modal>
<app-add-discount-modal
  *ngIf="modal2 === true"
  (close)="closeModal()"
  [product]="product"
  (updateProduct)="getProducts()"
>
</app-add-discount-modal>

<app-add-product-modal
  *ngIf="modal3 === true"
  (close)="closeModal()"
  (updateProduct)="getProducts()">
</app-add-product-modal>
