.container{
  display: flex;
  flex-direction: column;
  .addTimeLine-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    .addTimeLine{
      cursor: pointer;
      height: 32px;
      width: 200px;
      border-radius: 5px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #1ec261;
      font-weight: 600;
      &:hover{
        background: #047a36;
      }
    }
  }
  .time-line-container{
    margin: 20px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: scroll;
    .header{
      -webkit-user-select:none;
      -moz-user-select:none;
      user-select:none;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      margin: 0 0 10px 0;
      width: 750px;
      .label{
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .cursor-up:hover{
        cursor: pointer;
        &::after{
          content:  "\f0d8";
          float: right;
          border: none;
          font-family: 'FontAwesome';
          margin: 0 0 0 3px;
        }
      }
      .cursor-down:hover{
        cursor: pointer;
        &::after{
          content:  "\f0d7";
          float: right;
          border: none;
          font-family: 'FontAwesome';
          margin: 0 0 0 3px;
        }
      }
    }
    .time-line{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      width: 750px;
      row-gap: 5px;
      .item{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
      }
      .image{
        height: 30px;
        width: 30px;
        cursor: pointer;
        object-fit: scale-down;
        &:hover{
          opacity: 70%;
        }
      }
    }
  }
}
.grey-bg{
  background: rgba(213, 213, 213, 0.51);
  border-radius: 5.1px;
}
.start{
  width: 100px;
}
.end{
  width: 100px;
}
.priority{
  width: 60px;
}
.config{
  width: 120px;
}
.status{
  width: 80px;
}
.notes{
  width: 200px;
}
.image{
  width: 30px;
}
@media (max-width: 770px) {
  .container{
    .time-line-container {
      align-items: normal;
    }
  }
}
