.container {
  padding: 0 0 1000px 0;
  .slider {
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    .image-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      transition:.5s linear;
      .image {
        max-height: 600px;
        position: relative;
        overflow: hidden;
        object-fit: scale-down;
        z-index: 1;
      }
    }
    .directional{
      margin: 0 auto;
      max-width: 1439px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .leftArrow{
        transform: translate(0, -50%);
        left: 10px;
        margin: auto;
        position: absolute;
      }
      .rightArrow{
        transform: translate(0, -50%);
        margin: auto;
        position: absolute;
        right: 10px;
      }
      .arrow{
        z-index: 1;
        padding: 5px;
        color: #5e5d5d;
        width: 30px;
        margin: 0 0 10px 0;
        height: 30px;
        font-size: 18px;
        display: flex;
        font-weight: 300;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgba(248, 248, 248, 0.61);
        &:hover{
          background-color: rgba(236, 236, 236, 1);
        }
      }
    }
  }
  .contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .logo{
      margin: 120px 0 0 0;
      font-size: 40px;
      color: #af6f22;
      font-weight: 800;
    }
    .map{
      width: 95%;
      height: 500px;
      margin: 50px 0 0 0;
    }
  }
}

