<div class="container">
<!--  <div class="slider">-->
<!--    <div class="image-container" (click)="router.navigate([imageSlider[currentIndex].description])" >-->
<!--      <img class="image" src="{{getCurrentSlideUrl()}}" alt="">-->
<!--    </div>-->
<!--    <div class="slide_buttons">-->
<!--    </div>-->
<!--    <div class="directional" *ngIf="isShow">-->
<!--      <div (click)="goToPrevious()" class="leftArrow arrow">❰</div>-->
<!--      <div (click)="goToNext()" class="rightArrow arrow">❱</div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="d" *ngIf="isShow">
    <div class="{{'slider' + imageSlider.length}}">
      <figure class="{{'figure' + imageSlider.length}}">
        <img *ngFor="let image of imageSlider" [src]="image.image" alt (click)="location.href=image.description">
      </figure>
    </div>
  </div>
  <div class="contact">
    <div class="logo">Наші магазини</div>
    <div #mapContainer class="map" id="map">
    </div>
  </div>


</div>


<app-spinner></app-spinner>
