<div class="container">
  <div class="sliderContainer">
    <div class="sliderView" *ngIf="isShow">
      <div class="{{'slider' + imageSlider.length}}">
        <figure class="{{'figure' + imageSlider.length}}">
          <img *ngFor="let image of imageSlider" [src]="image.image" alt (click)="location.href=image.description">
        </figure>
      </div>
    </div>
  </div>
  <div class="body" *ngIf="isShow">
    <div class="label" *ngIf="newProducts.length>0" >Нові пропозиції</div>
    <div class="products">
      <div class="product" *ngFor="let product of newProducts" [ngClass]="{inCart: checkProductInCart(product.productId)}">
        <div class="product-image" >
          <img class="image" ngSrc="{{product.image}}" fill alt=""/>
        </div>
        <div class="name-weight">
          <div class="product-weight" *ngIf="product.weight>0">{{product.weight}}г</div>
          <div class="products-name" data-hover="">{{product.productName.toUpperCase()}}</div>
        </div>
        <div class="product-buyBox">
          <div class="product-price">
            <div class="products-currentPrice" [ngClass]="{discount: product.discount>0}" >{{product.price}} ₴</div>
            <div class="products-oldPrice" *ngIf="product.discount>0">{{product.price+product.discount}} ₴</div>
          </div>
          <div class="product-cart" (click)="addToCart(product); checkProductInCart(product.productId)" *ngIf="!checkProductInCart(product.productId)">В КОШИК</div>
          <div class="productCartActivated" (click)="location.href = '/cart'" *ngIf="checkProductInCart(product.productId)">В КОШИКУ</div>
        </div>
        <div class="new">Новинка</div>
      </div>
    </div>
    <div class="label margin70" *ngIf="actionsProducts.length>0" >Акції</div>
    <div class="products">
      <div class="product" *ngFor="let product of actionsProducts" [ngClass]="{inCart: checkProductInCart(product.productId)}">
        <div class="product-image" >
          <img class="image" src="{{product.image}}" alt=""/>
        </div>
        <div class="name-weight">
          <div class="product-weight" *ngIf="product.weight>0">{{product.weight}}г</div>
          <div class="products-name" data-hover="">{{product.productName.toUpperCase()}}</div>
        </div>
        <div class="product-buyBox">
          <div class="product-price">
            <div class="products-currentPrice" [ngClass]="{discount: product.discount>0}" >{{product.price}} ₴</div>
            <div class="products-oldPrice" *ngIf="product.discount>0">{{product.price+product.discount}} ₴</div>
          </div>
          <div class="product-cart" (click)="addToCart(product); checkProductInCart(product.productId)" *ngIf="!checkProductInCart(product.productId)">В КОШИК</div>
          <div class="productCartActivated" (click)="location.href = '/cart'" *ngIf="checkProductInCart(product.productId)">В КОШИКУ</div>
        </div>
        <div class="new action">Акція</div>
      </div>
    </div>
    <div class="label margin70" *ngIf="popularProducts.length>0" >Популярні сети</div>
    <div class="products">
      <div class="product" *ngFor="let product of popularProducts" [ngClass]="{inCart: checkProductInCart(product.productId)}">
        <div class="product-image" >
          <img class="image" ngSrc="{{product.image}}" fill alt=""/>
        </div>
        <div class="name-weight">
          <div class="product-weight" *ngIf="product.weight>0">{{product.weight}}г</div>
          <div class="products-name" data-hover="">{{product.productName.toUpperCase()}}</div>
        </div>
        <div class="product-buyBox">
          <div class="product-price">
            <div class="products-currentPrice" [ngClass]="{discount: product.discount>0}" >{{product.price}} ₴</div>
            <div class="products-oldPrice" *ngIf="product.discount>0">{{product.price+product.discount}} ₴</div>
          </div>
          <div class="product-cart" (click)="addToCart(product); checkProductInCart(product.productId)" *ngIf="!checkProductInCart(product.productId)">В КОШИК</div>
          <div class="productCartActivated" (click)="location.href = '/cart'" *ngIf="checkProductInCart(product.productId)">В КОШИКУ</div>
        </div>
        <div class="new popular">Популярний сет</div>
      </div>
    </div>
  </div>
</div>
<div class="cart-container" routerLink="/cart" *ngIf="cart.count>0">
  <span class="count" *ngIf="cart.count>0">{{cart.count}} </span>
  <div class="cart">
    <img class="car-image" ngSrc="https://img.icons8.com/material-outlined/384/null/shopping-basket-2.png" alt="cart" fill>
  </div>
  <span class="price" *ngIf="cart.count>0">{{cart.totalPrice}} ₴</span>
</div>

<app-spinner></app-spinner>
