<div class='backdrop' (click)='close.emit()'></div>
<div class="container">
  <div class='imgContainer' (click)='close.emit()'><img src='https://pixsector.com/cache/96937a07/av99d1cc0762c2ea29789.png'  class='img'></div>
  <div class="orderInfo">
    <div class="contact">
      <div class="name contactItem">
        <label class="label">Імʼя</label>
        <span class="info">{{data.name}}</span>
      </div>
      <div class="phone contactItem">
        <label class="label">Телефон</label>
        <span class="info">{{data.phoneNumber}}</span>
      </div>
      <div class="surname contactItem">
        <label class="label">Прізвище</label>
        <span class="info">{{data.surName ? data.surName:'Не вказано'}}</span>
      </div>
      <div class="email contactItem">
        <label class="label">Email</label>
        <span class="info">{{data.email ? data.email :'Не вказано'}}</span>
      </div>
    </div>
    <div class="underline"></div>
    <div class="deliveryType-time">
      <div class="deliveryType deliveryType-time-item">
        <label class="label">Спосіб доставки</label>
        <span class="info">{{data.deliveryOptions.picUp ? 'Самовивіз':'Доставка'}}</span>
      </div>
      <div class="time deliveryType-time-item">
        <label class="label">Час доставки</label>
        <span class="info" *ngIf="!data.deliveryOptions.asap">{{data.deliveryOptions.deliveryTime}}</span>
        <span class="info" *ngIf="data.deliveryOptions.asap">Якнайшвидше</span>
      </div>
    </div>
    <div class="underline" *ngIf="data.deliveryOptions.delivery"></div>
    <div class="deliveryInfo " *ngIf="data.deliveryOptions.delivery">
      <div class="street deliveryInfoItem">
        <label class="label">Вулиця</label>
        <span class="info">{{data.deliveryOptions.street ? data.deliveryOptions.street  :'Не вказано'}}</span>
      </div>
      <div class="street deliveryInfoItem">
        <label class="label">Будинок</label>
        <span class="info">{{data.deliveryOptions.house ? data.deliveryOptions.house  :'Не вказано'}}</span>
      </div>
      <div class="street deliveryInfoItem">
        <label class="label">Підʼїзд</label>
        <span class="info">{{data.deliveryOptions.entrance ? data.deliveryOptions.entrance  :'Не вказано'}}</span>
      </div>
      <div class="street deliveryInfoItem">
        <label class="label">Квартира</label>
        <span class="info">{{data.deliveryOptions.flat ? data.deliveryOptions.flat  :'Не вказано'}}</span>
      </div>
      <div class="street deliveryInfoItem">
        <label class="label">Поверх</label>
        <span class="info">{{data.deliveryOptions.flour ? data.deliveryOptions.flour  :'Не вказано'}}</span>
      </div>
      <div class="street deliveryInfoItem">
        <label class="label">Домофон</label>
        <span class="info">{{data.deliveryOptions.domofon ? data.deliveryOptions.domofon  :'Не вказано'}}</span>
      </div>
    </div>
    <div class="underline"></div>
    <div class="paymentMethod-promo">
      <div class="paymentMethod item">
        <label class="label">Метод оплати</label>
        <span class="info">{{paymentMethodValues[data.paymentMethod].value}}</span>
      </div>
      <div class="userPromo item">
        <label class="label">Промокод</label>
        <span class="info" *ngIf="data.promoUsed">{{data.usedPromoCode}}</span>
      </div>
    </div>
  </div>
</div>
