<div class="container" >
  <div class="left">
    <div class="routing">
      <div class="main router-item" (click)="location.href = ''">Головна</div>
      <div class="cut ">></div>
      <div class="cart router-item" (click)="location.href = '/cart'">Кошик</div>
      <div class="cut ">></div>
      <div class="checkout router-item">Оформленя замовленя</div>
    </div>
    <div class="title">Оформлення замовлення</div>
    <div class='userInfo-title-container edition'>
      <div class='items-title'><span class="number"><span>1</span></span>Контактна інформація</div>
    </div>
      <div class="userInfo" >
        <div class="name block">
          <label class="input" for="name">
            <input class="input__field" [ngClass]="{safariField: detectBrowserName() === 'safari'}"  [(ngModel)]="contactInfo.name" type="text" placeholder=" " id="name"  />
            <span class="input__label" [ngClass]="{safariLabel: detectBrowserName() === 'safari'}">Імʼя *</span>
          </label>
        </div>
        <div class="phoneNumber block">
          <label class="input" for="phone">
            <input class="input__field" [ngClass]="{safariField: detectBrowserName() === 'safari'}"   [(ngModel)]="contactInfo.phoneNumber " type="number" placeholder=" " id="phone" />
            <span class="input__label" [ngClass]="{safariLabel: detectBrowserName() === 'safari'}">Телефон *</span>
          </label>
        </div>
        <div class="surname block">
          <label class="input" for="surname">
            <input class="input__field" [ngClass]="{safariField: detectBrowserName() === 'safari'}"  [(ngModel)]="contactInfo.surName " type="text" placeholder=" " id="surname"  />
            <span class="input__label" [ngClass]="{safariLabel: detectBrowserName() === 'safari'}">Прізвище</span>
          </label>
        </div>
        <div class="email block">
          <label class="input" for="email">
            <input class="input__field" [ngClass]="{safariField: detectBrowserName() === 'safari'}"  type="email" placeholder=" "  [(ngModel)]="contactInfo.email " id="email"/>
            <span class="input__label"  [ngClass]="{safariLabel: detectBrowserName() === 'safari'}">E-mail адреса </span>
          </label>
        </div>
      </div>
    <div class='delivery-title-container edition'>
      <div class='items-title'><span class="number"><span>2</span></span>Деталі доставки</div>
    </div>
    <div class="delivery-container">
      <div class="deliveryOptions">
          <div class="picUp-container deliveryOption" (click)="changeDeliveryOption('picUp')">
            <div class="border"><div class="dot" *ngIf="deliveryOption.deliveryType === DeliveryType.PicUp"></div></div>
            <label class="text">Самовивіз</label>
          </div>
          <div class="deliveryOrder-container deliveryOption" (click)="changeDeliveryOption('delivery')">
            <div class="border"><div class="dot" *ngIf="deliveryOption.deliveryType === DeliveryType.OnAddress"></div></div>
            <label class="text">Доставка</label>
          </div>
        <div class="deliveryInfo" [ngClass]="{delivery: deliveryOption.deliveryType !== DeliveryType.OnAddress}">
          <div #mapContainer class="map" id="map">
          </div>
          <div class="inputAddress">
            <app-search
              *appSearchDerective="let options = options; let onSearchChange = onSearchChange"
              [options]="options"
              (searchTermChange)="onSearchChange($event)" >
            </app-search>
          </div>
        </div>
      </div>
    </div>
    <div class='delivery-title-container edition'>
      <div class='items-title'><span class="number"><span>3</span></span>Умови доставки</div>
    </div>
    <div class="deliveryTime">
      <div class="asap time" (click)="deliveryOption.deliveryTimeOptions = DeliveryTimeOptions.Asap">
        <div class="border"><div class="dot" *ngIf="deliveryOption.deliveryTimeOptions === DeliveryTimeOptions.Asap"></div></div>
        <label class="text">Якомога швидше</label>
      </div>
      <div class="choseTime time" (click)="deliveryOption.deliveryTimeOptions = DeliveryTimeOptions.OnTime">
        <div class="border"><div class="dot" *ngIf="deliveryOption.deliveryTimeOptions === DeliveryTimeOptions.OnTime"></div></div>
        <label class="text">На певну годину</label>
      </div>
      <div class="selectHour" *ngIf="deliveryOption.deliveryTimeOptions === DeliveryTimeOptions.OnTime">
        <select class="selector" [(ngModel)]="deliveryOption.deliveryTime" (click)="buildInitialHours()">
          <option *ngFor="let category of initialHours">
            {{category}}
          </option>
        </select>
      </div>
    </div>
    <div class='delivery-title-container edition'>
      <div class='items-title'><span class="number"><span>4</span></span>Метод оплати</div>
    </div>
    <div class="paymentMethod">
      <div class="cash payment" (click)="paymentMethod = PaymentMethod.Cash">
        <div class="border"><div class="dot" *ngIf="paymentMethod === PaymentMethod.Cash"></div></div>
        <label class="text">Готівкою</label>
      </div>
      <div class="cardInStore payment" (click)="paymentMethod = PaymentMethod.CardInStore">
        <div class="border"><div class="dot" *ngIf="paymentMethod === PaymentMethod.CardInStore"></div></div>
        <label class="text">Картою при отримуванні </label>
      </div>
      <div class="cardOnline payment" (click)="paymentMethod = PaymentMethod.CardOnline">
        <div class="border"><div class="dot" *ngIf="paymentMethod === PaymentMethod.CardOnline"></div></div>
        <label class="text">Картою онлайн</label>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="orderInfo">
      <div class="subTotalPrice">
        <label class="lable">Загальна сума</label>
        <span class="price">{{subTotalPrice}} ₴</span>
      </div>
      <div class="discount" *ngIf="promoCode.promoDiscount>0">
        <label class="lable">Знижка</label>
        <span class="price">{{promoCode.promoDiscount}} ₴</span>
      </div>
      <div class="totalPrice">
        <label class="lable">РАЗОМ</label>
        <span class="price">{{totalPrice - promoCode.promoDiscount}}₴</span>
      </div>
      <div class="promoCode-container">
        <label class="promoLabel" (click)="openClosePromoField()">{{promoCode.promoField?'Не використовувати промокод': 'У мене є промокод'}}</label>
        <div class="promoCode" *ngIf="promoCode.promoField">
          <label class="input">
            <div class="input__field">
              <input class="input__field3" [(ngModel)]="promoCode.usedPromoCode" type="text" placeholder=" ">
              <div class="button" (click)="usePromoCode()">></div>
            </div>
            <span class="input__label">Промокод</span>
          </label>
        </div>
      </div>
      <div class="submit" (click)="makeOrder()">ЗАМОВИТИ</div>
    </div>
  </div>
</div>

<app-spinner></app-spinner>

